<div class="container">
  <header class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>Double Identity Mafia</h1>
        {{#link-to 'index'}}{{fa-icon 'home'}}{{/link-to}}
        {{#link-to 'about'}}About{{/link-to}}
      </div>
    </div>
  </header>
  <div id="site-body">
    {{outlet}}
  </div>
</div>
