<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Players</h3>
  </div>
  <div class="panel-body">
  {{#each player in model.players}}
  <p>
    {{player.name}} {{player.id}}
  </p>
  {{/each}}
  </div>
</div>

{{outlet}}
