{{playing-card rank='queen' suit='heart'}}
{{playing-card rank='king' suit='spade'}}

<div class="well">
  <p>
    Game ID:
  </p>
  {{#each game in model}}
  <p>
    {{#link-to 'game' game}}{{game.id}}{{/link-to}}
  </p>
  {{/each}}
</div>

<div class="btn-toolbar">
  <div class="btn-group">
    <a {{action 'createGame'}} class="btn btn-primary">Create Game</a>
  </div>
</div>
<br>
